<div class="side-bar">
    <img class="arrow-left" src="assets/icons/arrow-left.png" alt="arrow-left">
    <div class="side-bar_avatar">
        <img class="avatar" src="assets/images/avatar1.png" alt="avatar">
    </div>
    <div class="avatar-info">
        <div class="name">ნანა ჟვანია</div>
        <div class="Profession">დიზაინერი</div>
        <div class="number">B9740</div>
    </div>
    <ul class="avatar-ul">
        <li class="avatar-li">ბონუსი
            <img class="arrow-icon" src="assets/icons/arrow.png" alt="arrow">
        </li> 
        <li class="avatar-li">ჩემი ბარათი
            <img class="arrow-icon" src="assets/icons/arrow.png" alt="arrow">
        </li> 
        <li class="avatar-li">განაცხადები
            <img class="arrow-icon" src="assets/icons/arrow.png" alt="arrow">
        </li> 
        <li class="avatar-li">დასწრება
            <img class="arrow-icon" src="assets/icons/arrow.png" alt="arrow">
        </li> 
        <li class="avatar-li">დავალებები
            <img class="arrow-icon" src="assets/icons/arrow.png" alt="arrow">
        </li>         
    </ul>
</div>