<div class="content">
    <ul class="breadcrumb">
        <li class="breadcrumb-li">ინტრანეტი
            <img src="assets/icons/breadcrumb1.png" alt="breadcrumb">
        </li>
        <li class="breadcrumb-li">ჩემი გვერდი
            <img src="assets/icons/breadcrumb1.png" alt="breadcrumb">
        </li>
        <li class="breadcrumb-li">ჩემი ბარათი</li>
    </ul>

    <div class="bg">
        <img class="liberty-style" src="assets/images/liberty-style.png" alt="liberty-style">
        <div class="photo-edit">
            <img src="assets/icons/photo.png" alt="photo">
            <p>ფოტოს ცვლილება</p>
        </div>
        <div class="user-info">
            <img src="assets/images/avatar1.png" alt="avatar">


            <div class="info">
                <p class="user-name">ნანა ჟვანია</p>
                <p class="profession">დიზაინერი</p>
                <p class="number">B9740</p>
            </div>
        </div>
    </div>

    <div class="user-experience_info">
        <div class="user-experience">
            <p>სამუშაო გამოცდილება</p>
        </div>
        <div class="info">
            <div class="info-block">
                <div class="item">
                    <div class="name-cont">
                        <p class="name">პოზიცია:</p>
                        <p class="name">ჯგუფი:</p>
                        <p class="name">განყოფილება:</p>
                        <p class="name">დეპარტამენტი:</p>
                    </div>
                    <div class="description-cont">
                        <p class="description">დიზაინერი</p>
                        <p class="description">ალტერნატიული საბანკო არხების განვითარების ჯგუფი</p>
                        <p class="description">ალტერნატიული საბანკო არხების განვითარების განყოფილება</p>
                        <p class="description">ინფორმაციული ტექნოლოგიების დეპარტამენტი</p>
                    </div>
                </div>

                <div class="user-contact">
                    <div class="user-contact_item">
                        <div class="icon">
                            <img src="assets/icons/phone.png" alt="phone">
                            <img class="phone" src="assets/icons/phone.png" alt="phone">

                        </div>
                        <div class="description">
                            <p>558 19 64 53</p>
                        </div>
                    </div>
                    <div class="user-contact_item">
                        <div class="icon">
                            <img src="assets/icons/email.png" alt="email">
                        </div>
                        <div class="description">
                            <p>nanazhvania@lb.ge</p>
                        </div>
                    </div>
                    <div class="user-contact_item">
                        <div class="icon">
                            <img src="assets/icons/tel.png" alt="tel">
                        </div>
                        <div class="description">
                            <p>2 22 62 38</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="divider"></div>

            <div class="info-block">
                <div class="item">
                    <div class="name-cont">
                        <p class="name">ხელმძღვანელი:</p>
                        <p class="name">მდებარეობა:</p>
                        <p class="name">დანიშვნის თარიღი:</p>
                        <p class="name">დაბადების დღე:</p>
                    </div>
                    <div class="description-cont">
                        <p class="description">თორნიკე ბენიძე</p>
                        <p class="description">თბილისი, ჭავჭავაძის 74,</p>
                        <p class="description">13.08.2018</p>
                        <p class="description">10 აგვისტო</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="user-experience-details_head">
        <div class="left-block">
            <p>სამუშაო გამოცდილება</p>
            <img src="assets/icons/pen.png" alt="pen">
        </div>
        <div class="right-block">
            <img src="assets/icons/red-arrow.png" alt="red-arrow">
            <div class="triangle"></div>
        </div>
    </div>

    <div class="user-experience-details">
        <div class="left-block">
            <div class="left-block-cont">
                <div class="circle">
                    <img src="assets/icons/liberty-icon.png" alt="liberty-icon">
                </div>
                <div class="divider"></div>
                <div class="small-circle"></div>
                <div class="divider-dashed"></div>
                <div class="small-circle"></div>
            </div>

            <div class="left-block-cont">
                <div class="circle">
                    <div class="medium-circle"></div>
                </div>
                <div class="divider-dashed"></div>
                <div class="small-circle"></div>
            </div>

            <div class="left-block-cont">
                <div class="circle">
                    <div class="medium-circle"></div>
                </div>
            </div>
        </div>

        <div class="right-block">
            <div class="right-block_cont">
                <p class="large">UX / UI დიზაინერი</p>
                <p>ინფორმაციული ტექნოლოგიების დეპარტამენტი</p>
                <p>ლიბერთი ბანკი</p>
                <div class="date">
                    <p>10.08.2018 - მიმდინარე</p>
                    <div class="date-month">
                        <img src="assets/icons/Ellipse.png" alt="Ellipse">
                        <p>8 თვე</p>
                    </div>
                </div>
            </div>

            <div class="right-block_cont">
                <p class="large">UX / UI დიზაინერი</p>
                <p>ინფორმაციული ტექნოლოგიების დეპარტამენტი</p>
                <p>ლიბერთი ბანკი</p>
                <div class="date">
                    <p>10.08.2018 - მიმდინარე</p>
                    <div class="date-month">
                        <img src="assets/icons/Ellipse.png" alt="Ellipse">
                        <p>8 თვე</p>
                    </div>
                </div>
            </div>

            <div class="right-block_cont">
                <p class="large">UX / UI დიზაინერი</p>
                <p>ინფორმაციული ტექნოლოგიების დეპარტამენტი</p>
                <p>ლიბერთი ბანკი</p>
                <div class="date">
                    <p>10.08.2018 - მიმდინარე</p>
                    <div class="date-month">
                        <img src="assets/icons/Ellipse.png" alt="Ellipse">
                        <p>8 თვე</p>
                    </div>
                </div>
            </div>

            <div class="right-block_cont mt-70">
                <p class="large">UX / UI დიზაინერი</p>
                <p>Digital department</p>
                <p>DDB Georgia /Betterfly</p>
                <div class="date">
                    <p>10.08.2018 - მიმდინარე</p>
                    <div class="date-month">
                        <img src="assets/icons/Ellipse.png" alt="Ellipse">
                        <p>2 წელი 1თვე</p>
                    </div>
                </div>
            </div>

            <div class="right-block_cont ">
                <p class="large">გრაფიკული დიზაინერი</p>
                <p>Digital department</p>
                <p>DDB Georgia /Betterfly</p>
                <div class="date">
                    <p>10.08.2018 - მიმდინარე</p>
                    <div class="date-month">
                        <img src="assets/icons/Ellipse.png" alt="Ellipse">
                        <p>1 წელი 1თვე</p>
                    </div>
                </div>
            </div>

            <div class="right-block_cont mt-80">
                <div class="confirm">
                    <span>დადასტურების მოლოდინში</span>
                    <div class="triangle"></div>
                </div>
                <p class="large">UX / UI დიზაინერი</p>
                <p>Digital department</p>
                <p>DDB Georgia /Betterfly</p>
                <div class="date">
                    <p>10.08.2018 - მიმდინარე</p>
                    <div class="date-month">
                        <img src="assets/icons/Ellipse.png" alt="Ellipse">
                        <p>2 წელი 1თვე</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="user-experience-details_head">
        <div class="left-block">
            <p>განათლება</p>
            <img src="assets/icons/pen.png" alt="pen">
            
        </div>
        <div class="right-block">
            <img src="assets/icons/red-arrow.png" alt="red-arrow">
            
        </div>
    </div>

    <div class="user-experience-details">
        <div class="left-block">

            <div class="left-block-cont mb-60">
                <div class="circle">
                    <div class="medium-circle"></div>
                </div>
            </div>

            <div class="left-block-cont mb-60">
                <div class="circle">
                    <div class="medium-circle"></div>
                </div>
            </div>

        </div>

        <div class="right-block">

            <div class="right-block_cont mb-50">
                <p class="large">ინფორმაციული ტექნოლოგიები</p>
                <p>მაგისტრატურა</p>
                <p>თბილისის სახელმწიფო უნივერსიტეტეი</p>
                <div class="date">
                    <p>10.08.2018 - მიმდინარე</p>
                </div>
            </div>

            <div class="right-block_cont">
                <p class="large">ინფორმაციული ტექნოლოგიები</p>
                <p>მაგისტრატურა</p>
                <p>თბილისის სახელმწიფო უნივერსიტეტეი</p>
                <div class="date">
                    <p>10.08.2018 - მიმდინარე</p>
                </div>
            </div>

        </div>
    </div>

    <div class="user-experience-details_head">
        <div class="left-block">
            <p>უნარები</p>
            <img src="assets/icons/black-pen.png" alt="black-pen">
            <div class="confirm">
                <span>ცვლილება</span>
                <div class="triangle"></div>
            </div>
        </div>
        <div class="right-block">
            <img src="assets/icons/red-arrow.png" alt="red-arrow">
        </div>
    </div>

    <div class="skill-info">
        <div class="skill mb-30">
            <p>უცხო ენები</p>
            <div class="language-cont">

                <div class="language">
                    <span>ინგლისური ენა</span>
                    <div class="icon">
                        <img src="assets/icons/Ellipse-red.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse-red.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse-red.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse-red.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse1.png" alt="ellipse">
                    </div>
                    <img class="Triangle" src="assets/images/Triangle.png" alt="Triangle">
                </div>

                <div class="language">
                    <span>რუსული ენა</span>
                    <div class="icon">
                        <img src="assets/icons/Ellipse-red.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse-red.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse-red.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse1.png" alt="ellipse">
                        <img src="assets/icons/Ellipse1.png" alt="ellipse">
                    </div>
                    <img class="Triangle" src="assets/images/Triangle.png" alt="Triangle">
                </div>

                <div class="language">
                    <span>გერმანული ენა</span>
                    <div class="icon">
                        <img src="assets/icons/Ellipse-red.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse-red.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse-red.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse1.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse1.png" alt="ellipse">
                    </div>
                    <img class="Triangle" src="assets/images/Triangle.png" alt="Triangle">
                </div>
            </div>
        </div>

        <div class="skill">
            <p>ტექნიკური უნარები</p>
            <div class="language-cont">

                <div class="language">
                    <span>MS Excel</span>
                    <div class="icon">
                        <img src="assets/icons/Ellipse-red.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse-red.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse-red.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse-red.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse1.png" alt="ellipse">
                    </div>
                    <img class="Triangle" src="assets/images/Triangle.png" alt="Triangle">
                </div>

                <div class="language">
                    <span>Adobe XD </span>
                    <div class="icon">
                        <img src="assets/icons/Ellipse-red.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse-red.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse-red.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse1.png" alt="ellipse">
                        <img src="assets/icons/Ellipse1.png" alt="ellipse">
                    </div>
                    <img class="Triangle" src="assets/images/Triangle.png" alt="Triangle">
                </div>

                <div class="language">
                    <span>Adobe photoshop</span>
                    <div class="icon">
                        <img src="assets/icons/Ellipse-red.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse-red.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse-red.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse1.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse1.png" alt="ellipse">
                    </div>
                    <img class="Triangle" src="assets/images/Triangle.png" alt="Triangle">
                </div>

                <div class="language">
                    <span>Adobe illustrator</span>
                    <div class="icon">
                        <img src="assets/icons/Ellipse-red.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse-red.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse-red.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse1.png" alt="Ellipse-red">
                        <img src="assets/icons/Ellipse1.png" alt="ellipse">
                    </div>
                    <img class="Triangle" src="assets/images/Triangle.png" alt="Triangle">
                </div>
            </div>
        </div>
    </div>







</div>