<header>
    <div class="header-cont">
        <div class="header-left">
            <div class="burger-cont">
                <img class="burger" src="assets/icons/burger.png" alt="burger">
                <img class="burger" src="assets/icons/burger.png" alt="burger">
                <img class="burger" src="assets/icons/burger.png" alt="burger">
            </div>
            <div class="logo">
                <img src="assets/images/logo.png" alt="logo">
            </div>
        </div>
        <div class="header-right">
            <div class="input-cont">
                <input type="text" placeholder="ძებნა">
                <div class="search-icon_cont">
                    <img class="search-icon" src="assets/icons/search.png" alt="search">
                </div>
            </div>

            <img class="bell-icon" src="assets/icons/bell.png" alt="bell">

            <div class="log-out_cont">
                <span>გასვლა</span>
                <img class="log-out_icon" src="assets/icons/logout.png" alt="logout">
            </div>
        </div>
    </div>
</header>